.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #468cf6;
  width: 224px;
  height: 58px;
}
.proceedDiv {
  position: absolute;
  top: 19px;
  left: 10px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 205px;
}
.groupDiv1 {
  position: absolute;
  top: 651px;
  left: 621px;
  width: 224px;
  height: 58px;
  cursor: pointer;
  text-align: center;
}
.bGDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eff2f6;
  width: 1440px;
  height: 55px;
}
.analyticsCalculatesThe {
  margin-block-start: 0;
  margin-block-end: 30px;
}
.ofViewsFor {
  margin: 0;
}
.analyticsCalculatesTheNumbe,
.popularPagesDiv {
  position: absolute;
  top: 90px;
  left: 5px;
  letter-spacing: -0.8px;
  line-height: 30px;
  display: inline-block;
  width: 318px;
}
.popularPagesDiv {
  top: 49px;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 500;
  color: #000;
  width: 301px;
}
.div1,
.exploreIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
}
.div1 {
  left: 878px;
  width: 323px;
  height: 180px;
}
.informationOnTransitionsFro,
.trafficSourcesByGroup {
  position: absolute;
  left: 5px;
  line-height: 30px;
  display: inline-block;
}
.trafficSourcesByGroup {
  top: 47px;
  letter-spacing: -1px;
  font-weight: 500;
  width: 301px;
}
.informationOnTransitionsFro {
  top: 88px;
  font-size: 21px;
  letter-spacing: -0.8px;
  color: rgba(0, 0, 0, 0.8);
  width: 350px;
}
.boxIcon,
.div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}
.div2 {
  top: 2px;
  left: 438px;
  width: 355px;
  height: 178px;
  font-size: 24px;
  color: #000;
}
.analyticsShowsTheNumberOf,
.audienceActivityDiv {
  position: absolute;
  top: 89px;
  left: 4px;
  letter-spacing: -0.8px;
  line-height: 30px;
  display: inline-block;
  width: 350px;
}
.audienceActivityDiv {
  top: 48px;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 500;
  color: #000;
  width: 301px;
}
.div,
.div3,
.paletteIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
}
.div,
.div3 {
  top: 1px;
  width: 354px;
  height: 179px;
}
.div {
  top: 605px;
  left: 2px;
  width: 1201px;
  height: 180px;
}
.informationOnTransitionsFro1,
.trafficSourcesByGroup1 {
  position: absolute;
  left: 4px;
  line-height: 30px;
  display: inline-block;
}
.trafficSourcesByGroup1 {
  top: 48px;
  letter-spacing: -1px;
  font-weight: 500;
  width: 301px;
}
.informationOnTransitionsFro1 {
  top: 89px;
  font-size: 21px;
  letter-spacing: -0.8px;
  color: rgba(0, 0, 0, 0.8);
  width: 350px;
}
.div5 {
  position: absolute;
  top: 1px;
  left: 880px;
  width: 354px;
  height: 179px;
  font-size: 24px;
  color: #000;
}
.analyticsShowsTheNumberOf1,
.audienceActivityDiv1 {
  position: absolute;
  top: 90px;
  left: 7px;
  letter-spacing: -0.8px;
  line-height: 30px;
  display: inline-block;
  width: 350px;
}
.audienceActivityDiv1 {
  top: 49px;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 500;
  color: #000;
  width: 301px;
}
.div6 {
  position: absolute;
  top: 0;
  left: 439px;
  width: 357px;
  height: 180px;
}
.analyticsCalculatesTheNumbe1,
.popularPagesDiv1 {
  position: absolute;
  top: 88px;
  left: 4px;
  letter-spacing: -0.8px;
  line-height: 30px;
  display: inline-block;
  width: 318px;
}
.popularPagesDiv1 {
  top: 47px;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 500;
  color: #000;
  width: 301px;
}
.div4,
.div7 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 322px;
  height: 178px;
}
.div4 {
  top: 126px;
  left: 1px;
  width: 1234px;
  height: 180px;
}
.analyticsShowsTheNumberOf2,
.audienceActivityDiv2 {
  position: absolute;
  top: 91px;
  left: 5px;
  letter-spacing: -0.8px;
  line-height: 30px;
  display: inline-block;
  width: 350px;
}
.audienceActivityDiv2 {
  top: 50px;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 500;
  color: #000;
  width: 301px;
}
.div9 {
  position: absolute;
  top: 0;
  left: 881px;
  width: 355px;
  height: 181px;
}
.analyticsCalculatesTheNumbe2,
.popularPagesDiv2 {
  position: absolute;
  top: 90px;
  left: 3px;
  letter-spacing: -0.8px;
  line-height: 30px;
  display: inline-block;
  width: 318px;
}
.popularPagesDiv2 {
  top: 49px;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 500;
  color: #000;
  width: 301px;
}
.div10 {
  position: absolute;
  top: 1px;
  left: 442px;
  width: 321px;
  height: 180px;
}
.div11,
.div8 {
  position: absolute;
  left: 0;
}
.div11 {
  top: 3px;
  width: 355px;
  height: 178px;
  font-size: 24px;
  color: #000;
}
.div8 {
  top: 365px;
  width: 1236px;
  height: 181px;
}
.text04Div {
  position: relative;
  letter-spacing: -0.6px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.textStatesMediumMedium {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 87.57px);
  display: flex;
  flex-direction: row;
  padding: 0 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.div12 {
  position: absolute;
  height: 100%;
  width: 25.15%;
  top: 0;
  right: -0.05%;
  bottom: 0;
  left: 74.9%;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  overflow: hidden;
  color: #000;
}
.textStatesMediumMedium1 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 92.3px);
  display: flex;
  flex-direction: row;
  padding: 0 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.div13 {
  position: absolute;
  height: 100%;
  width: 25.15%;
  top: 0;
  right: 24.9%;
  bottom: 0;
  left: 49.95%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.analyticsSpan1 {
  letter-spacing: -0.6px;
  line-height: 24px;
}
.span {
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 20px;
}
.analyticsSpan {
  font-weight: 500;
}
.text02Div {
  position: relative;
  display: inline-block;
}
.textStatesMediumMedium2 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 42.93px);
  display: flex;
  flex-direction: row;
  padding: 0 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.div14 {
  position: absolute;
  height: 100%;
  width: 25.15%;
  top: 0;
  right: 49.87%;
  bottom: 0;
  left: 24.97%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.textStatesMediumMedium3 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 103.57px);
  display: flex;
  flex-direction: row;
  padding: 0 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.combinedButtons50pxText,
.div15 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.div15 {
  height: 100%;
  width: 25.15%;
  right: 74.85%;
  bottom: 0;
  left: 0;
  border-radius: 10px 0 0 10px;
}
.combinedButtons50pxText {
  left: 115px;
  width: 1070px;
  height: 61px;
  font-size: 20px;
  color: #fff;
}
.interactiveReportsDiv {
  position: absolute;
  top: -5px;
  left: 71px;
  width: 1236px;
  height: 785px;
  display: none;
}
.div28,
.div29 {
  position: absolute;
  height: 100%;
  width: 25.15%;
  top: 0;
  right: -0.05%;
  bottom: 0;
  left: 74.9%;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
}
.div29 {
  right: 24.9%;
  left: 49.95%;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  color: #000;
}
.integrationFeaturesDiv {
  position: absolute;
  top: -5px;
  left: 72px;
  width: 1236px;
  height: 785px;
  display: none;
}
.div32,
.div36,
.div40,
.div45 {
  position: absolute;
  top: 126px;
  left: 2px;
  width: 1201px;
  height: 180px;
}
.div36,
.div40,
.div45 {
  top: 366px;
  left: 1px;
  width: 1234px;
}
.div40,
.div45 {
  top: 604px;
  left: 0;
  width: 1236px;
  height: 181px;
}
.div45 {
  height: 100%;
  width: 25.15%;
  top: 0;
  right: 24.9%;
  bottom: 0;
  left: 49.95%;
  overflow: hidden;
}
.div47,
.rectangleDiv1 {
  position: absolute;
  top: 0;
  background-color: #fff;
}
.div47 {
  height: 100%;
  width: 25.15%;
  right: 74.85%;
  bottom: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  color: #000;
}
.rectangleDiv1 {
  left: 611px;
  width: 219px;
  height: 55px;
}
.advancedDiv {
  top: 0;
  left: 635px;
  letter-spacing: -0.6px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}
.advancedDiv,
.freeDiv,
.premiumB {
  position: absolute;
  display: inline-block;
}
.premiumB {
  top: 3px;
  left: 302px;
  font-size: 25px;
  line-height: 20px;
  color: #000;
}
.freeDiv {
  top: 0;
  left: 0;
  letter-spacing: -0.6px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}
.groupDiv2 {
  position: absolute;
  top: 14px;
  left: 357px;
  width: 728px;
  height: 24px;
  font-size: 20px;
  color: #333;
}
.majorFeaturesOfThisPlan {
  position: absolute;
  top: -170px;
  left: 77px;
  font-size: 48px;
  letter-spacing: -1.6px;
  line-height: 54px;
  font-weight: 500;
  color: #fff;
  display: none;
  width: 492px;
}
.block2Div,
.rectangleDiv2 {
  position: absolute;
  top: 0;
  left: 0;
}
.block2Div {
  width: 1440px;
  height: 55px;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.8);
}
.rectangleDiv2 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.accessToCommunicateInEngli,
.languageDiv {
  position: absolute;
  left: 5px;
  line-height: 30px;
  display: inline-block;
}
.languageDiv {
  top: 45.07px;
  letter-spacing: -1px;
  font-weight: 500;
  width: 301px;
  height: 28.77px;
}
.accessToCommunicateInEngli {
  top: 84.39px;
  font-size: 21px;
  letter-spacing: -0.8px;
  color: #848484;
  width: 237px;
  height: 115.07px;
}
.boxIcon6,
.groupDiv4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
}
.groupDiv4 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.alongWithVoiceAssistanceO {
  position: absolute;
  top: 88px;
  left: 5px;
  font-size: 21px;
  letter-spacing: -0.8px;
  line-height: 30px;
  color: #848484;
  display: inline-block;
  width: 237px;
}
.boxIcon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 42px;
}
.boxIcon9,
.groupDiv5,
.groupDiv6 {
  position: absolute;
  top: 278px;
  left: 0;
  width: 306px;
  height: 208px;
}
.boxIcon9,
.groupDiv6 {
  left: 418px;
  height: 148px;
}
.boxIcon9 {
  top: -4px;
  left: -6px;
  width: 53px;
  height: 53px;
}
.groupDiv3,
.groupDiv7,
.groupDiv8 {
  position: absolute;
  top: 0;
  left: 413px;
  width: 306px;
  height: 238px;
}
.groupDiv3,
.groupDiv8 {
  left: 826px;
  height: 148px;
}
.groupDiv3 {
  height: 71.65%;
  width: 78.61%;
  top: 18.62%;
  right: 10.35%;
  bottom: 9.73%;
  left: 11.04%;
  color: #1d2d3f;
}
.groupDiv {
  position: absolute;
  top: 276px;
  left: 0;
  width: 1440px;
  height: 709px;
}
.premiumDiv {
  position: relative;
  width: 1440px;
  height: 985px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: 20px;
  color: #fefdff;
  font-family: Inter;
}
