.rectangleDiv,
.rectangleDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 540px;
  height: 138px;
}
.rectangleDiv {
  background-color: #f7faff;
}
.rectangleDiv1 {
  border-radius: 4px;
  border: 2px solid #1d2d3f;
  box-sizing: border-box;
}
.featherminusIcon {
  position: absolute;
  top: 14.15px;
  left: 479px;
  width: 24px;
  height: 16.98px;
  overflow: hidden;
  display: none;
}
.shouldOptimusBeFixedWithW {
  position: absolute;
  top: 18.75px;
  left: 28px;
  font-weight: 500;
  display: inline-block;
  width: 481px;
}
.sIAssistantIsASoftwareApp {
  position: absolute;
  top: 67.75px;
  left: 28px;
  font-size: 16px;
  line-height: 171.5%;
  color: #848484;
  display: inline-block;
  width: 493px;
}
.fAQ4Div,
.groupDiv {
  width: 540px;
  height: 138px;
}
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
}
.fAQ4Div {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: 18px;
  color: #1d2d3f;
  font-family: Poppins;
}
