.vectorIcon {
  position: absolute;
  height: 63.61%;
  width: 64.75%;
  top: -0.47%;
  right: 17.56%;
  bottom: 36.85%;
  left: 17.69%;
  max-width: 100%;
  max-height: 100%;
}
.mobileDiv {
  position: absolute;
  top: 82.94px;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.groupDiv {
  position: absolute;
  height: 89.12%;
  width: 37.57%;
  top: 5.83%;
  right: 31.21%;
  bottom: 5.05%;
  left: 31.21%;
}
.frameDiv1,
.laptopDiv {
  position: absolute;
  left: 0;
}
.frameDiv1 {
  top: 27px;
  border-radius: 10px;
  background-color: #f7faff;
  width: 173px;
  height: 120px;
  overflow: hidden;
}
.laptopDiv {
  top: 0;
  font-weight: 500;
  display: inline-block;
}
.groupDiv2 {
  position: absolute;
  top: 82.94px;
  left: 14px;
  width: 67px;
  height: 24px;
}
.frameDiv2,
.frameIcon,
.groupDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 94.05px;
  height: 67px;
}
.frameDiv2,
.groupDiv1 {
  top: 7px;
  left: 37px;
  height: 106.94px;
}
.frameDiv2 {
  top: 27px;
  left: 344px;
  border-radius: 10px;
  background-color: #f7faff;
  width: 173px;
  height: 120px;
  overflow: hidden;
}
.groupDiv4,
.watch1Icon {
  position: absolute;
  top: 89.94px;
  left: 8px;
  width: 61px;
  height: 24px;
}
.watch1Icon {
  top: 0;
  left: 0;
  width: 76px;
  height: 76px;
  overflow: hidden;
}
.frameDiv3,
.groupDiv3 {
  position: absolute;
  top: 0;
  left: 56px;
  width: 76px;
  height: 113.94px;
}
.frameDiv3 {
  top: 27px;
  left: 676px;
  border-radius: 10px;
  background-color: #f7faff;
  width: 173px;
  height: 120px;
  overflow: hidden;
}
.frameDiv {
  position: relative;
  width: 100%;
  height: 173px;
  text-align: left;
  font-size: 20px;
  color: #121212;
  font-family: Inter;
}
