.whyOptForOptimus {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 50px;
  display: inline-block;
  width: 505px;
}
.withSoMany {
  margin-block-start: 0;
  margin-block-end: 0;
}
.withSoManySmartAssistants {
  position: absolute;
  top: 80px;
  left: 11px;
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  display: inline-block;
  width: 455px;
}
.groupDiv {
  position: absolute;
  top: 258px;
  left: 153px;
  width: 505px;
  height: 350px;
  font-size: 42px;
  color: #ffaf18;
}
.comparisiond1Icon,
.competitorss1Icon {
  position: absolute;
  top: 173px;
  left: 771px;
  width: 433px;
  height: 460.47px;
  object-fit: cover;
  display: none;
}
.competitorss1Icon {
  top: 94px;
  left: 742px;
  width: 534px;
  height: 532px;
}
.div {
  position: absolute;
  top: 1059.27px;
  left: 315px;
}
.competitorss1Icon1 {
  position: absolute;
  top: 105px;
  left: 691px;
  width: 565px;
  height: 565px;
  object-fit: cover;
}
.aITensorsDesignedOptimusUs,
.groupDiv2 {
  position: absolute;
  top: 0;
  width: 1134px;
  height: 565px;
}
.aITensorsDesignedOptimusUs {
  left: calc(50% - 567px);
  line-height: 30px;
  white-space: pre-wrap;
  display: inline-block;
}
.groupDiv2 {
  display: none;
}
.groupDiv1 {
  position: absolute;
  top: 1608px;
  left: calc(50% - 567px);
  width: 0;
  height: 0;
  text-align: center;
}
.smartAssistantsInMarket {
  position: absolute;
  top: 760px;
  left: calc(50% - 278px);
  font-size: 42px;
  line-height: 50px;
  display: inline-block;
  color: #1d2d3f;
  width: 557px;
}
.text3Div {
  width: 16.81%;
  top: calc(50% - -106.27px);
  right: 72.5%;
  height: 31.62px;
}
.text3Div,
.text4Div,
.text5Div {
  position: absolute;
  left: 10.69%;
  line-height: 30px;
  display: inline-block;
}
.text5Div {
  width: 16.81%;
  top: calc(50% - -305.08px);
  right: 72.5%;
  height: 31.62px;
}
.text4Div {
  top: calc(50% - -155.27px);
}
.text4Div,
.text6Div,
.text7Div {
  width: 16.81%;
  right: 72.5%;
  height: 31.62px;
}
.text6Div {
  position: absolute;
  top: calc(50% - -355.7px);
  left: 10.69%;
  line-height: 30px;
  display: inline-block;
}
.text7Div {
  top: calc(50% - -406.27px);
}
.text7Div,
.text8Div,
.textDiv,
.textDiv1 {
  position: absolute;
  left: 10.69%;
  line-height: 30px;
  display: inline-block;
}
.text8Div {
  width: 16.81%;
  top: calc(50% - -456.89px);
  right: 72.5%;
  height: 31.62px;
}
.textDiv,
.textDiv1 {
  width: 22.5%;
  top: calc(50% - -57.27px);
  right: 66.81%;
}
.textDiv1 {
  top: calc(50% - -256.08px);
}
.textDiv2 {
  width: 23.33%;
  top: calc(50% - -8.27px);
  right: 65.97%;
  left: 10.69%;
}
.textDiv2,
.textDiv3,
.usageB {
  position: absolute;
  line-height: 30px;
  display: inline-block;
}
.textDiv3 {
  width: 23.33%;
  top: calc(50% - -207.08px);
  right: 65.97%;
  left: 10.69%;
}
.usageB {
  height: 1.83%;
  width: 9.71%;
  top: 48.06%;
  right: 79.66%;
  bottom: 50.1%;
  left: 10.63%;
  font-size: 22px;
  letter-spacing: -0.55px;
  color: #1d2d3f;
}
.baseDiv {
  position: absolute;
  height: 88.13%;
  width: 89.66%;
  top: 11.87%;
  right: 2.76%;
  bottom: 0;
  left: 7.59%;
  border-radius: 8px;
  background-color: #eff2f6;
}
.startDiv {
  position: absolute;
  height: 5.06%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 94.94%;
  left: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  font-family: Inter;
  color: #ffb935;
  display: inline-block;
}
.div1,
.div10,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  top: 421.46px;
  left: 55px;
  letter-spacing: -0.2px;
  line-height: 26px;
  display: inline-block;
  width: 42.56px;
  height: 24.32px;
}
.div10,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  top: 520.1px;
}
.div10,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  top: 470.78px;
}
.div10,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  top: 224.18px;
}
.div10,
.div5,
.div6,
.div7,
.div8,
.div9 {
  top: 273.5px;
}
.div10,
.div6,
.div7,
.div8,
.div9 {
  top: 322.82px;
}
.div10,
.div7,
.div8,
.div9 {
  top: 372.14px;
}
.div10,
.div8,
.div9 {
  top: 569.42px;
}
.div10,
.div9 {
  top: 175.18px;
  left: 38px;
  width: 76.61px;
  height: 23.1px;
}
.div10 {
  top: 127.07px;
}
.groupDiv3 {
  position: absolute;
  height: 31.78%;
  width: 10.07%;
  top: 44.29%;
  right: 67.29%;
  bottom: 23.93%;
  left: 22.64%;
  text-align: center;
  font-size: 16px;
  color: #1d2d3f;
  font-family: Font Awesome 5 Free;
}
.div13,
.div18 {
  position: absolute;
  top: 127.07px;
  left: 55px;
  letter-spacing: -0.2px;
  line-height: 26px;
  display: inline-block;
  width: 42.56px;
  height: 24.32px;
}
.div18 {
  top: 176.07px;
  left: 38px;
  width: 76.61px;
  height: 23.1px;
}
.groupDiv4,
.groupDiv5,
.groupDiv6,
.groupDiv7,
.groupDiv8 {
  position: absolute;
  height: 31.78%;
  width: 10.07%;
  top: 44.29%;
  right: 55.97%;
  bottom: 23.93%;
  left: 33.96%;
  text-align: center;
  font-size: 16px;
  color: #1d2d3f;
  font-family: Font Awesome 5 Free;
}
.groupDiv5,
.groupDiv6,
.groupDiv7,
.groupDiv8 {
  right: 44.65%;
  left: 45.28%;
}
.groupDiv6,
.groupDiv7,
.groupDiv8 {
  right: 33.33%;
  left: 56.6%;
}
.groupDiv7,
.groupDiv8 {
  right: 22.01%;
  left: 67.92%;
}
.groupDiv8 {
  right: 10.69%;
  left: 79.24%;
}
.rectangleDiv,
.rectangleDiv1 {
  position: absolute;
  left: 0;
  width: 1510px;
}
.rectangleDiv {
  top: 0;
  background-color: rgba(160, 164, 171, 0.1);
  height: 395px;
}
.rectangleDiv1 {
  top: 334px;
  background-color: #ebbb3c;
  border: 1px solid #ebbb3c;
  box-sizing: border-box;
  height: 63px;
}
.logoDiv {
  position: absolute;
  top: 49.49px;
  left: 165px;
  font-size: 32px;
  font-weight: 600;
  color: #468cf6;
  display: inline-block;
  width: 120px;
  height: 48.66px;
}
.copyright2022Div,
.needAnswersNeedHelpJust,
.transformingLivesOfPeopleA {
  position: absolute;
  top: 114.11px;
  left: 165px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.copyright2022Div,
.needAnswersNeedHelpJust {
  top: 100px;
  left: 1020px;
}
.copyright2022Div {
  top: 352px;
  left: 652px;
  font-weight: 600;
  color: #fff;
  width: 136px;
  height: 27px;
}
.companyDiv,
.competitorsDiv1,
.contactDiv,
.pricingDiv,
.productDiv {
  position: absolute;
  top: 109px;
  left: 451px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.competitorsDiv1,
.contactDiv,
.pricingDiv,
.productDiv {
  top: 152px;
}
.competitorsDiv1,
.contactDiv,
.pricingDiv {
  top: 195px;
}
.contactDiv,
.pricingDiv {
  top: 238px;
}
.contactDiv {
  top: 281px;
}
.followUsDiv,
.linksDiv {
  top: 53px;
  font-size: 18px;
  font-weight: 600;
  color: #0e0e2c;
}
.linksDiv {
  position: absolute;
  left: 454px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.followUsDiv {
  left: 735px;
}
.fbcomaaaDiv,
.followUsDiv,
.getInTouchWithUs {
  position: absolute;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.getInTouchWithUs {
  top: 53px;
  left: 1020px;
  font-size: 18px;
  font-weight: 600;
  color: #0e0e2c;
}
.fbcomaaaDiv {
  top: 1px;
  left: 36px;
}
.featherfacebookIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.groupDiv9 {
  position: absolute;
  top: 108px;
  left: 735px;
  width: 291px;
  height: 28px;
}
.aaaDiv {
  position: absolute;
  top: 0;
  left: 36px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.groupDiv10,
.groupDiv11 {
  position: absolute;
  top: 152px;
  left: 735px;
  width: 291px;
  height: 28px;
}
.groupDiv11 {
  top: 196px;
}
.helperTextDiv {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.labelDiv {
  border-radius: 4px;
  width: 252px;
  display: none;
  flex-direction: row;
  padding: 2px 4px 2px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  color: #0e0e2c;
}
.feathersearchIcon,
.groupIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.feathersearchIcon {
  overflow: hidden;
}
.labelDiv1 {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
}
.featherplusIcon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameDiv {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.feathersendIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.inputeDiv {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #767676;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.helperTextDiv2 {
  position: relative;
  display: inline-block;
}
.helperTextDiv1 {
  border-radius: 4px;
  width: 252px;
  display: none;
  flex-direction: row;
  padding: 2px 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}
.xFormGroupDiv {
  position: absolute;
  top: 170px;
  left: 1020px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #b1b1b1;
}
.footerDiv {
  position: absolute;
  top: 1597px;
  left: -13px;
  width: 1440px;
  height: 397px;
  font-size: 16px;
  color: rgba(14, 14, 44, 0.8);
  font-family: Poppins;
}
.cONTACTDiv,
.pRICINGDiv {
  position: absolute;
  top: 0;
  left: 916px;
  line-height: 30px;
  display: inline-block;
}
.pRICINGDiv {
  left: 788px;
}
.tESTIMONIALSDiv {
  left: 607px;
}
.cOMPANYDiv,
.cOMPETITORSDiv,
.lOGOB,
.pRODUCTDiv,
.tESTIMONIALSDiv {
  position: absolute;
  top: 0;
  line-height: 30px;
  display: inline-block;
}
.cOMPETITORSDiv {
  left: 463px;
  cursor: pointer;
}
.cOMPANYDiv,
.lOGOB,
.pRODUCTDiv {
  left: 322px;
}
.cOMPANYDiv,
.lOGOB {
  left: 178px;
}
.lOGOB {
  top: 4px;
  left: 0;
  font-size: 22px;
  letter-spacing: -0.01em;
  line-height: 22px;
  font-family: Exo;
  color: #f6da46;
  cursor: pointer;
}
.navBarDiv {
  position: absolute;
  top: 36px;
  left: 135px;
  width: 993px;
  height: 30px;
  font-size: 16px;
  color: #353535;
}
.competitorsDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1994px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #787878;
  font-family: Inter;
}
