.whyOptForOptimus {
  line-height: 50px;
  margin-bottom: 1rem;
}

.withSoMany {
  margin-block-start: 0;
  margin-block-end: 0;
}

.withSoManySmartAssistants {
  font-size: 20px;
  line-height: 30px;
  color: #787878;
}

.groupDiv {
  font-size: 42px;
  color: #ffaf18;
}

.comparisiond1Icon,
.competitorss1Icon {
  position: absolute;
  top: 173px;
  left: 771px;
  width: 433px;
  height: 460.47px;
  object-fit: cover;
  display: none;
}

.competitorss1Icon {
  top: 94px;
  left: 742px;
  width: 534px;
  height: 532px;
}

.div {
  position: absolute;
  top: 1059.27px;
  left: 315px;
}

.competitorss1Icon1 {
  width: 565px;
  height: 565px;
  object-fit: cover;
}

.topText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
}

.aITensorsDesignedOptimusUs,
.groupDiv2 {}

.aITensorsDesignedOptimusUs {
  left: calc(50% - 567px);
  line-height: 30px;
  white-space: pre-wrap;
  display: inline-block;
}



.groupDiv1 {
  position: absolute;
  top: 1608px;
  left: calc(50% - 567px);
  width: 0;
  height: 0;
  text-align: center;
}

.smartAssistantsInMarket {
  font-size: 42px;
  line-height: 50px;
  color: #1d2d3f;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.text3Div {}

.text3Div,
.text4Div,
.text5Div {
  line-height: 30px;
}

.text4Div {
  top: calc(50% - -155.27px);
}

.text4Div,
.text6Div,
.text7Div {}

.text6Div {
  line-height: 30px;
  display: inline-block;
}

.text7Div {
  top: calc(50% - -406.27px);
}

.text7Div,
.text8Div,
.textDiv,
.textDiv1,
.textDiv2,
.text3Div,
.text4Div,
.textDiv3,
.text5Div,
.text6Div {
  color: #787878;
}

.text8Div {
  width: 16.81%;
  top: calc(50% - -456.89px);
  right: 72.5%;
  height: 31.62px;
}

.textDiv1 {
  top: calc(50% - -256.08px);
}

.textDiv2 {
  width: 23.33%;
}

.textDiv2,
.textDiv3,
.usageB {
  line-height: 30px;
}

.textDiv3 {
  width: 23.33%;
  top: calc(50% - -207.08px);
  right: 65.97%;
  left: 10.69%;
}

.usageB {
  height: 1.83%;
  width: 9.71%;
  top: 48.06%;
  right: 79.66%;
  bottom: 50.1%;
  left: 10.63%;
  font-size: 22px;
  letter-spacing: -0.55px;
  color: #1d2d3f;
}

.baseDiv {
  position: absolute;
  height: 88.13%;
  width: 89.66%;
  top: 11.87%;
  right: 2.76%;
  bottom: 0;
  left: 7.59%;
  border-radius: 8px;
  background-color: #eff2f6;
}

.startDiv {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  font-family: Inter;
  color: #ffb935;
}

.div10,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  top: 520.1px;
}

.groupDiv3 {
  position: absolute;
  height: 31.78%;
  width: 10.07%;
  top: 44.29%;
  right: 67.29%;
  bottom: 23.93%;
  left: 22.64%;
  text-align: center;
  font-size: 16px;
  color: #1d2d3f;
  font-family: Font Awesome 5 Free;
}

.div13 {
  width: 42.56px;
  height: 24.32px;
}

.groupDiv4,
.groupDiv5,
.groupDiv6,
.groupDiv7,
.groupDiv8 {
  position: absolute;
  height: 31.78%;
  width: 10.07%;
  top: 44.29%;
  right: 55.97%;
  bottom: 23.93%;
  left: 33.96%;
  text-align: center;
  font-size: 16px;
  color: #1d2d3f;
  font-family: Font Awesome 5 Free;
}

.groupDiv5,
.groupDiv6,
.groupDiv7,
.groupDiv8 {
  right: 44.65%;
  left: 45.28%;
}

.groupDiv6,
.groupDiv7,
.groupDiv8 {
  right: 33.33%;
  left: 56.6%;
}

.groupDiv7,
.groupDiv8 {
  right: 22.01%;
  left: 67.92%;
}

.groupDiv8 {
  right: 10.69%;
  left: 79.24%;
}

.rectangleDiv,
.rectangleDiv1 {
  position: absolute;
  left: 0;
  width: 1531px;
}

.rectangleDiv {
  top: 0;
  background-color: rgba(160, 164, 171, 0.1);
  height: 395px;
}

.rectangleDiv1 {
  top: 334px;
  background-color: #ebbb3c;
  border: 1px solid #ebbb3c;
  box-sizing: border-box;
  height: 63px;
}

.logoDiv {
  font-size: 32px;
  font-weight: 600;
  color: #468cf6;
  margin-bottom: 2rem;
}

.footerDivs {
  text-align: left;
  font-size: 16px;
  color: rgba(14, 14, 44, 0.8);
  font-family: Poppins;
  background-color: rgba(160, 164, 171, 0.1);
}

.footerDiv {
  padding: 2rem;
}

.copyright2022Div {
  background-color: #ebbb3c;
  border: 1px solid #ebbb3c;
  font-weight: 600;
  color: #fff;
  padding: 1rem;
  text-align: center;
}



.seniorsDiv1 {
  top: 145px;
}



.companyDiv, .pricingDiv, .competitorsDiv, .contactDiv, .productDiv, .fbcomaaaDiv {
  font-size: 16px;
  color: rgba(14, 14, 44, 0.8);
  margin-bottom: 1rem;
}

.followUsDiv,
.linksDiv {
  font-size: 18px;
  font-weight: 600;
  color: #0e0e2c;
  margin-bottom: 1.6rem;
}

.footerDiv a {
  text-decoration: none;
  margin-bottom: 1.5rem;
}

.getInTouchWithUs {
  font-size: 18px;
  font-weight: 600;
  color: #0e0e2c;
  margin-bottom: 1.6rem;
}

.fbcomaaaDiv {}

.featherfacebookIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  overflow: hidden;
}

.groupDiv9 {
  position: absolute;
  top: 108px;
  left: 735px;
  width: 291px;
  height: 28px;
}

.aaaDiv {
  position: absolute;
  top: 0;
  left: 36px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}

.groupDiv10,
.groupDiv11 {
  position: absolute;
  top: 152px;
  left: 735px;
  width: 291px;
  height: 28px;
}

.groupDiv11 {
  top: 196px;
}

.helperTextDiv {
  position: relative;
  font-weight: 600;
  display: inline-block;
}

.labelDiv {
  border-radius: 4px;
  width: 252px;
  display: none;
  flex-direction: row;
  padding: 2px 4px 2px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  color: #0e0e2c;
}

.feathersearchIcon,
.groupIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}

.feathersearchIcon {
  overflow: hidden;
}

.labelDiv1 {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
}

.featherplusIcon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}

.frameDiv {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.feathersendIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}

.inputeDiv {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #767676;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.helperTextDiv2 {
  position: relative;
  display: inline-block;
}

.helperTextDiv1 {
  border-radius: 4px;
  width: 252px;
  display: none;
  flex-direction: row;
  padding: 2px 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}

.xFormGroupDiv {
  position: absolute;
  top: 170px;
  left: 1020px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #b1b1b1;
}

.footerDiv {
  font-size: 16px;
  color: rgba(14, 14, 44, 0.8);
  font-family: Poppins;
  margin-top: 3rem;
}



.cOMPETITORSDiv {
  cursor: pointer;
}


.lOGOB {
  top: 4px;
  left: 0;
  font-size: 22px;
  letter-spacing: -0.01em;
  line-height: 22px;
  font-family: Exo;
  color: #f6da46;
  cursor: pointer;
}

.navBarDiv {
  position: absolute;
  top: 36px;
  left: 135px;
  width: 993px;
  height: 30px;
  font-size: 16px;
  color: #353535;
}

.competitorsDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-family: Inter;
}

.sENIORDiv1 {
  cursor: pointer;
}

.topNav {
  margin-top: 2rem;
}

.logomain {
  padding-left: 28px;
}

.assistantDiv {
  margin-top: 3rem;
}

table tr th {
  border: 0;
}

table tr td {
  text-align: center;
  border: 0;
}

table tr td:first-child {
  text-align: left;
  background-color: none;
}

table tr td:nth-child(2) {
  background: #eff2f6 !important;
}

table tr td:nth-child(3) {
  background: #eff2f6 !important;
}

table tr td:nth-child(4) {
  background: #eff2f6 !important;
}

table tr td:nth-child(5) {
  background: #eff2f6 !important;
}

table tr td:nth-child(6) {
  background: #eff2f6 !important;
}

table tr td:nth-child(7) {
  background: #eff2f6 !important;
}

.navItem a {
  text-decoration: none;
}

.navItem {
  padding-left: 3rem;
  font-size: 16px;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .competitorss1Icon1 {
    width: 374px;
    height: 374px;
  }
}