.productTv1 {
  position: absolute;
  top: 186px;
  left: 853px;
  width: 545px;
  height: 546px;
  object-fit: cover;
  display: none;
}

.rectangleDiv,
.rectangleDiv1 {
  position: absolute;
  top: 6859px;
  left: 2456px;
  background-color: #a59191;
  width: 1460px;
  height: 40px;
}

.rectangleDiv1 {
  top: 6698px;
  left: 2628px;
  background-color: #d9d9d9;
  width: 1440px;
  height: 85px;
}

.ezgif6Icon,
.image55Icon,
.pRODUCT11 {
  width: 179px;
  height: 179px;
}

.image55Icon,
.pRODUCT11 {
  width: 848px;
  height: 631px;
}

.pRODUCT11 {
  margin-top: 5rem;
}

.image55Icon {
  width: 191px;
  height: 224px;
}

.rectangleDiv2 {
  position: absolute;
  top: 93px;
  left: 805px;
  background-color: #2e67bc;
  width: 641px;
  height: 786px;
}

.theFutureOf {
  margin-block-start: 0;
  margin-block-end: 0;
  /* color: #2cbddd; */
}

.humanMachineInteractionP {
  color: #2cbddd;
  font-size: 42px;
}

.theFutureOf span {
  font-size: 42px;
}

.theFutureOf2 {
  font-size: 42px;
  color: #2cbddd;
  font-weight: 700;
  margin-top: 2rem;
}

.itTakesLessThanAMinuteTo {
  font-size: 20px;
  color: #787878;
  line-height: 32px;
}

.groupDiv1 {
  display: flex;
  justify-content: center;
  align-items: left;
  height: 100vh;
  flex-direction: column;
  text-align: left;
}

.groupDiv {
  top: 298px;
  left: calc(50% - 589px);
  text-align: left;
  font-size: 42px;
}

.whatsMoreCombinationOfN {
  line-height: 50px;
  display: inline-block;
}

.dontHaveTo {
  margin: 0;
}

.theApplicationOfComputerVi {
  font-size: 20px;
  line-height: 30px;
  color: #787878;
}

.groupDiv2,
.groupDiv3,
.nLPANewWayToInteractWi {
}

.groupDiv2,
.nLPANewWayToInteractWi {
  font-size: 42px;
  color: #2cbddd;
}

.nLPANewWayToInteractWi {
  color: #1d2d3f;
}

.humanMachine {
  /* margin-bottom: 6rem */
}

.naturalLanguageProcessingN,
.optimusHasTakenShapeByThe {
}

.optimusHasTakenShapeByThe {
  top: 631px;
  left: calc(50% - 509px);
}

.groupDiv4 {
  color: #787878;
  margin-top: 4rem;
}

.aWorldBetterWithAISmartA,
.anIndividualsWorthIncrease {
  line-height: 50px;
  color: #353535;
}

.anIndividualsWorthIncrease {
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  margin-top: 2rem;
}

.groupDiv5 {
  font-size: 42px;
  margin-top: 3rem;
}

.letUsDiveDeepIntoWhatThe {
  line-height: 50px;
}

.anAssistantForAllPeopleA,
.competitors2Div {
  font-size: 42px;
}

.anAssistantForAllPeopleA {
  line-height: 50px;
  display: inline-block;
  color: #1d2d3f;
  width: 683px;
  margin-top: 3rem;
}

.onTheMarketThereAreALot {
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onTheMarketThereAreALot p {
  width: 837px;
  word-break: break-word;
  margin-top: 3rem;
}

.optimusUnderstandsYourNeeds,
.optimusWillUnderstandYourI {
  line-height: 30px;
}

.optimusUnderstandsYourNeeds {
  color: #787878;
}

.optimusWillUnderstandYourI {
}

.fromTheTimeAUserGetsInT,
.optimusIsACompleteAndAccu,
.optimusIsAHighlyIntelligen {
  line-height: 30px;
}

.fromTheTimeAUserGetsInT,
.optimusIsACompleteAndAccu {
}

.optimusIsACompleteAndAccu {
}

.fromMakingReservationsAnd,
.optimusIsYourPrivate247S,
.withThePowerOfNaturalLang {
  line-height: 30px;
}

.fromMakingReservationsAnd,
.optimusIsYourPrivate247S {
}

.fromMakingReservationsAnd {
}

.competitors2Div1 {
  color: #787878;
}

.youDontNeedAnyoneElse {
  line-height: 35px;
  color: #353535;
}

.groupDiv7,
.noOneSaysYouNeedAHumanT {
}

.noOneSaysYouNeedAHumanT {
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  margin-top: 1rem;
}

.groupDiv7 {
}

.rockingChair1Icon {
  width: 129px;
  height: 129px;
  margin-top: 2rem;
}

.groupDiv6 {
  font-size: 25px;
}

.groupDiv9,
.optimusCanDoAnythingFromC {
}

.optimusCanDoAnythingFromC {
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  margin-top: 1rem;
}

.groupDiv9 {
}

.email1Icon {
  width: 128px;
  height: 128px;
  margin-top: 3rem;
}

.groupDiv11,
.groupDiv8 {
}

.groupDiv8 {
  font-size: 25px;
}

.groupDiv11 {
}

.help1Icon {
  height: 27.95%;
  width: 27.49%;

  max-width: 100%;
  max-height: 100%;
  margin-top: 3rem;
}

.groupDiv10 {
  font-size: 25px;
}

.companionReadyForAnything {
  line-height: 35px;
  color: #353535;
}

.optimusCanAccompanyYouThro {
  font-size: 20px;
  line-height: 30px;
  color: #787878;
}

.groupDiv13 {
}

.help2Icon,
.thinking1Icon {
  height: 28.57%;
  width: 20.53%;
  margin-top: 2rem;

  max-width: 100%;
  max-height: 100%;
}

.thinking1Icon {
  height: 15.76%;
  width: 11.33%;
  top: 67.98%;
  right: 23.72%;
  bottom: 16.26%;
  left: 64.96%;
}

.groupDiv12 {
  font-size: 25px;
}

.stayOneStepAhead {
  line-height: 35px;
  color: #353535;
}

.usingASmartAssistantLikeO {
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  margin-top: 1rem;
}

.groupDiv14,
.groupDiv15 {
}

.groupDiv14 {
  top: 4736px;
  left: calc(50% - -94px);
  font-size: 25px;
}

.kakao3Icon {
  width: 125px;
  height: 125px;
  margin-top: 3rem;
}

.groupDiv16 {
  font-size: 25px;
}

.groupDiv19,
.wereAllAboutGivingYouMor {
}

.wereAllAboutGivingYouMor {
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  margin-top: 1rem;
}

.groupDiv19 {
  top: 0;
  width: 422px;
  height: 193px;
}

.kakao2Icon {
  width: 125px;
  height: 125px;
}

.groupDiv18,
.groupDiv21 {
}

.groupDiv18 {
  top: 3891px;
  left: calc(50% - -72px);
  height: 389px;
  font-size: 25px;
}

.groupDiv21 {
}

.click1Icon {
  height: 33.43%;
  width: 27.25%;
  max-width: 100%;
  max-height: 100%;
}

.groupDiv20 {
  font-size: 25px;
}

.task21 {
  width: 123px;
  height: 123px;
  margin-top: 2rem;
}

.answer1Icon,
.hoursService1Icon,
.voice1Icon {
  width: 121px;
  height: 121px;
  margin-top: 4rem;
}

.answer1Icon,
.hoursService1Icon {
}

.hoursService1Icon {
}

.rectangleDiv3 {
  border-radius: 15px;
  background-color: #ffaf18;
  width: 127px;
  height: 68px;
  color: #fff;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aIMLDiv {
  line-height: 50px;
}

.groupDiv22 {
  color: #000;
  font-family: Jua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation1Icon {
  position: absolute;
  top: 6218px;
  left: 799px;
  width: 131px;
  height: 131px;
  overflow: hidden;
}

.onlineWriting1Icon,
.question1Icon {
  width: 128px;
  height: 128px;
  margin-top: 3rem;
}

.onlineWriting1Icon {
}

.optimusHasEyes,
.withTheHelpOfComputerVisi {
  line-height: 30px;
  display: inline-block;
  text-align: left;
  font-size: 20px;
}

.withTheHelpOfComputerVisi {
  width: 400px;
}

.theFutureOf12 {
  text-align: left;
  color: #787878;
  font-size: 20px;
  width: 400px;
}

.optimusHasEyes {
  font-size: 25px;
  line-height: 20px;
  color: #1d2d3f;
  text-align: left;
  margin-bottom: 1.6rem;
}

.groupDiv23,
.groupDiv24,
.groupDiv25,
.groupDiv26,
.groupDiv27 {
  color: #787878;
  text-align: left;
}

.groupDiv24,
.groupDiv25,
.groupDiv26,
.groupDiv27 {
}

.groupDiv25,
.groupDiv26,
.groupDiv27 {
}

.groupDiv26,
.groupDiv27 {
}

.groupDiv27 {
  top: 7429px;
  left: calc(50% - -13px);
}

.ourIntelligentOptimusHasBe,
.stayHandsFreeB {
  line-height: 30px;
  font-size: 20px;
  margin-top: 1rem;
}

.stayHandsFreeB {
  font-size: 25px;
  line-height: 20px;
  color: #1d2d3f;
  width: 528px;
  height: 20px;
}

.groupDiv28 {
  text-align: left;
  color: #787878;
  margin-top: 2rem;
}

.camera11 {
  width: 201px;
  height: 210px;
  margin-top: 4rem;
}

.newsIcon,
.vectorIcon {
  width: 222px;
  height: 125px;
}

.newsIcon {
  max-width: 100%;
  max-height: 100%;
}

.homeLove1Icon,
.voiceAssistantInTheMobileIcon {
  width: 458px;
  height: 240px;
}

.voiceAssistantInTheMobileIcon {
  width: 420px;
  height: 336px;
}

.groupDiv30 {
  width: 529px;
  height: 201px;
}

.timeManagementCopy1 {
  width: 469.91px;
  height: 210px;
}

.groupDiv29 {
  text-align: left;
  color: #787878;
}

.responsiveDesign1Icon {
  max-width: 100%;
  max-height: 100%;
}

.icon,
.nLP1Icon {
  width: 716px;
  height: 371px;
  margin-top: 5rem;
}

.icon {
  width: 559px;
  height: 325px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.productTv11 {
  position: absolute;
  top: 149px;
  left: 807px;
  width: 633px;
  height: 651px;
}

.cONTACTDiv,
.pRICINGDiv {
}

.pRICINGDiv {
  left: 876px;
}

.tESTIMONIALSDiv {
}

.cOMPANYDiv,
.cOMPETITORSDiv,
.lOGOB,
.pRODUCTDiv,
.tESTIMONIALSDiv {
}

.cOMPETITORSDiv {
  cursor: pointer;
}

.cOMPANYDiv,
.lOGOB,
.pRODUCTDiv {
}

.cOMPANYDiv,
.lOGOB {
}

.lOGOB {
  top: 4px;
  left: 0;
  font-size: 22px;
  letter-spacing: -0.01em;
  line-height: 22px;
  font-family: Exo;
  color: #f6da46;
  cursor: pointer;
}

.navBarDiv {
  position: absolute;
  top: 36px;
  left: 135px;
  width: 993px;
  height: 30px;
  text-align: left;
  font-size: 16px;
  color: #353535;
}

.rectangleDiv4,
.rectangleDiv5 {
  position: absolute;
  left: 0;
  width: 1522px;
}

.rectangleDiv4 {
  top: 0;
  background-color: rgba(160, 164, 171, 0.1);
  height: 395px;
}

.rectangleDiv5 {
  top: 334px;
  background-color: #ebbb3c;
  border: 1px solid #ebbb3c;
  box-sizing: border-box;
  height: 63px;
}

.logoDiv {
  font-size: 32px;
  font-weight: 600;
  color: #468cf6;
}

.copyright2022Div,
.needAnswersNeedHelpJust,
.transformingLivesOfPeopleA {
  margin-top: 2rem;
}

.copyright2022Div,
.needAnswersNeedHelpJust {
  top: 100px;
  left: 1020px;
}

.copyright2022Div {
  background-color: #ebbb3c;
  border: 1px solid #ebbb3c;
  font-weight: 600;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.companyDiv,
.seniorsDiv1 .competitorsDiv,
.contactDiv,
.pricingDiv,
.productDiv1 {
}

.competitorsDiv,
.contactDiv,
.pricingDiv,
.productDiv1 {
}

.seniorsDiv1 {
  top: 145px;
}

.competitorsDiv,
.contactDiv,
.pricingDiv {
}

.contactDiv,
.pricingDiv {
  top: 238px;
}

.contactDiv {
  top: 281px;
}

.followUsDiv,
.linksDiv {
  font-size: 18px;
  font-weight: 600;
  color: #0e0e2c;
  margin-bottom: 1.4rem;
}

.companyDiv,
.pricingDiv,
.competitorsDiv,
.contactDiv,
.productDiv,
.fbcomaaaDiv,
.proDuctDiv {
  font-size: 16px;
  color: rgba(14, 14, 44, 0.8);
  margin-bottom: 1rem;
}

.getInTouchWithUs {
  top: 53px;
  left: 1020px;
  font-size: 18px;
  font-weight: 600;
  color: #0e0e2c;
}

.fbcomaaaDiv {
  font-size: 16px;
  margin-bottom: 1rem;
}

.featherfacebookIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  overflow: hidden;
}

.groupDiv31 {
  position: absolute;
  top: 108px;
  left: 735px;
  width: 291px;
  height: 28px;
}

.aaaDiv {
  position: absolute;
  top: 0;
  left: 36px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}

.groupDiv32,
.groupDiv33 {
  position: absolute;
  top: 152px;
  left: 735px;
  width: 291px;
  height: 28px;
}

.groupDiv33 {
  top: 156px;
}

.helperTextDiv {
  position: relative;
  font-weight: 600;
  display: inline-block;
}

.labelDiv {
  border-radius: 4px;
  width: 252px;
  display: none;
  flex-direction: row;
  padding: 2px 4px 2px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  color: #0e0e2c;
}

.feathersearchIcon,
.groupIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}

.feathersearchIcon {
  overflow: hidden;
}

.labelDiv1 {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
}

.featherplusIcon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}

.frameDiv {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.feathersendIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}

.inputeDiv {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #767676;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.helperTextDiv2 {
  position: relative;
  display: inline-block;
}

.helperTextDiv1 {
  border-radius: 4px;
  width: 252px;
  display: none;
  flex-direction: row;
  padding: 2px 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}

.xFormGroupDiv {
  position: absolute;
  top: 170px;
  left: 1020px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #b1b1b1;
}

.footerDivs {
  text-align: left;
  font-size: 16px;
  color: rgba(14, 14, 44, 0.8);
  font-family: Poppins;
  background-color: rgba(160, 164, 171, 0.1);
}

.footerDiv {
  padding: 2rem;
}

.productTv12 {
  width: 585px;
  height: 788px;
}

.growthLevel1Icon {
  width: 85px;
  height: 85px;
  margin-top: 3rem;
}

.productDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #1d2d3f;
  font-family: Inter;
}

.sENIORDiv1 {
}

.logomain {
  padding-left: 28px;
}

.navItem {
  padding-left: 3rem;
  font-size: 16px;
}

.navItem a {
  text-decoration: none;
}

.topNav {
  margin-top: 2rem;
}

.footerDiv a {
  text-decoration: none;
  color: rgba(14, 14, 44, 0.8);
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .productTv12,
  .Product_icon,
  .nLP1Icon,
  .pRODUCT11 {
    width: 100%;
    height: 100%;
  }

  .theFutureOf,
  .dontHaveTo {
    text-align: left;
    font-size: 20px;
  }

  .icon {
    width: 355px;
    height: 285px;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .groupDiv19 {
    width: 334px;
  }

  .onTheMarketThereAreALot {
    width: 326px;
  }

  .withTheHelpOfComputerVisi {
    width: 342px;
  }

  .homeLove1Icon,
  .timeManagementCopy1,
  .voiceAssistantInTheMobileIcon {
    width: 265px;
  }

  .groupDiv30 {
    width: 100px;
  }

  .theFutureOf12 {
    width: 351px;
  }

  .anAssistantForAllPeopleA {
    width: 351px;
  }
}
