.productTv1 {
  position: absolute;
  top: 186px;
  left: 853px;
  width: 545px;
  height: 546px;
  object-fit: cover;
  display: none;
}
.rectangleDiv,
.rectangleDiv1 {
  position: absolute;
  top: 6859px;
  left: 2456px;
  background-color: #a59191;
  width: 1460px;
  height: 40px;
}
.rectangleDiv1 {
  top: 6698px;
  left: 2628px;
  background-color: #d9d9d9;
  width: 1440px;
  height: 85px;
}
.ezgif6Icon,
.image55Icon,
.pRODUCT11 {
  position: absolute;
  top: 2797px;
  left: 619px;
  width: 179px;
  height: 179px;
  object-fit: cover;
}
.image55Icon,
.pRODUCT11 {
  top: 2502px;
  left: 296px;
  width: 848px;
  height: 631px;
}
.image55Icon {
  top: 8264px;
  left: 798px;
  width: 191px;
  height: 224px;
}
.rectangleDiv2 {
  position: absolute;
  top: 93px;
  left: 805px;
  background-color: #2e67bc;
  width: 641px;
  height: 786px;
}
.theFutureOf {
  margin-block-start: 0;
  margin-block-end: 0;
}
.humanMachineInteractionP {
  margin: 0;
  color: #2cbddd;
}
.itTakesLessThanAMinuteTo,
.theFutureOfHumanMachineIn {
  position: absolute;
  top: 0;
  left: calc(50% - 456px);
  line-height: 50px;
  display: inline-block;
  width: 919px;
  height: 106px;
}
.itTakesLessThanAMinuteTo {
  top: 141px;
  left: calc(50% - 463px);
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  width: 463px;
  height: 228px;
}
.groupDiv,
.groupDiv1 {
  position: absolute;
  top: 0;
  left: calc(50% - 463px);
  width: 926px;
  height: 369px;
}
.groupDiv {
  top: 298px;
  left: calc(50% - 589px);
  text-align: left;
  font-size: 42px;
}
.whatsMoreCombinationOfN {
  position: absolute;
  top: 0;
  left: calc(50% - 566px);
  line-height: 50px;
  display: inline-block;
  width: 1132px;
  height: 44px;
}
.dontHaveTo {
  margin: 0;
}
.theApplicationOfComputerVi {
  position: absolute;
  top: 84px;
  left: calc(50% - 516px);
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  display: inline-block;
  width: 986px;
  height: 81px;
}
.groupDiv2,
.groupDiv3,
.nLPANewWayToInteractWi {
  position: absolute;
  top: 0;
  left: calc(50% - 566px);
  width: 1132px;
  height: 165px;
}
.groupDiv2,
.nLPANewWayToInteractWi {
  top: 2247px;
  font-size: 42px;
  color: #2cbddd;
}
.nLPANewWayToInteractWi {
  top: 0;
  left: calc(50% - 720px);
  line-height: 50px;
  display: inline-block;
  color: #1d2d3f;
  width: 1440px;
  height: 44px;
}
.naturalLanguageProcessingN,
.optimusHasTakenShapeByThe {
  position: absolute;
  top: 84px;
  left: calc(50% - 521px);
  line-height: 30px;
  white-space: pre-wrap;
  display: inline-block;
  width: 1042px;
  height: 460px;
}
.optimusHasTakenShapeByThe {
  top: 631px;
  left: calc(50% - 509px);
}
.groupDiv4 {
  position: absolute;
  top: 958px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 1091px;
  color: #787878;
}
.aWorldBetterWithAISmartA,
.anIndividualsWorthIncrease {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  line-height: 50px;
  display: inline-block;
  width: 1440px;
  height: 44px;
}
.anIndividualsWorthIncrease {
  top: 88px;
  left: calc(50% - 427px);
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  width: 1042px;
  height: 105px;
}
.groupDiv5 {
  position: absolute;
  top: 3203px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 193px;
  font-size: 42px;
}
.letUsDiveDeepIntoWhatThe {
  position: absolute;
  top: 0;
  left: calc(50% - 400.5px);
  line-height: 50px;
  display: inline-block;
  width: 801px;
  height: 53px;
}
.anAssistantForAllPeopleA,
.competitors2Div {
  position: absolute;
  top: 6432px;
  left: calc(50% - 416px);
  width: 801px;
  height: 53px;
  font-size: 42px;
}
.anAssistantForAllPeopleA {
  top: 0;
  left: calc(50% - 339px);
  line-height: 50px;
  display: inline-block;
  color: #1d2d3f;
  width: 683px;
}
.onTheMarketThereAreALot {
  position: absolute;
  top: 137px;
  left: calc(50% - 485px);
  line-height: 30px;
  display: inline-block;
  width: 986.09px;
}
.optimusUnderstandsYourNeeds,
.optimusWillUnderstandYourI {
  position: absolute;
  left: calc(50% - 568px);
  line-height: 30px;
  display: inline-block;
  width: 221px;
}
.optimusUnderstandsYourNeeds {
  top: 319px;
  color: inherit;
}
.optimusWillUnderstandYourI {
  top: 736px;
}
.fromTheTimeAUserGetsInT,
.optimusIsACompleteAndAccu,
.optimusIsAHighlyIntelligen {
  position: absolute;
  top: 341px;
  left: calc(50% - 264px);
  line-height: 30px;
  display: inline-block;
  width: 221px;
}
.fromTheTimeAUserGetsInT,
.optimusIsACompleteAndAccu {
  top: 736px;
  left: calc(50% - 263px);
}
.optimusIsACompleteAndAccu {
  top: 341px;
  left: calc(50% - -41px);
}
.fromMakingReservationsAnd,
.optimusIsYourPrivate247S,
.withThePowerOfNaturalLang {
  position: absolute;
  top: 736px;
  left: calc(50% - -42px);
  line-height: 30px;
  display: inline-block;
  width: 221px;
}
.fromMakingReservationsAnd,
.optimusIsYourPrivate247S {
  top: 341px;
  left: calc(50% - -346px);
}
.fromMakingReservationsAnd {
  top: 732px;
  left: calc(50% - -347px);
}
.competitors2Div1 {
  position: absolute;
  top: 5227px;
  left: calc(50% - 571px);
  width: 1136px;
  height: 1032px;
  color: #787878;
}
.youDontNeedAnyoneElse {
  position: absolute;
  top: 0;
  left: calc(50% - 206px);
  line-height: 35px;
  display: inline-block;
  width: 417px;
  height: 59px;
}
.groupDiv7,
.noOneSaysYouNeedAHumanT {
  position: absolute;
  left: calc(50% - 211px);
}
.noOneSaysYouNeedAHumanT {
  top: 71px;
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  display: inline-block;
  width: 395px;
}
.groupDiv7 {
  top: 0;
  width: 422px;
  height: 191px;
}
.rockingChair1Icon {
  position: absolute;
  top: 226px;
  left: 133px;
  width: 129px;
  height: 129px;
  overflow: hidden;
}
.groupDiv6 {
  position: absolute;
  top: 4341px;
  left: calc(50% - 502px);
  width: 422px;
  height: 355px;
  font-size: 25px;
}
.groupDiv9,
.optimusCanDoAnythingFromC {
  position: absolute;
  left: calc(50% - 211px);
}
.optimusCanDoAnythingFromC {
  top: 89px;
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  display: inline-block;
  width: 395px;
}
.groupDiv9 {
  top: 0;
  width: 422px;
  height: 239px;
}
.email1Icon {
  position: absolute;
  top: 281px;
  left: 134px;
  width: 128px;
  height: 128px;
  overflow: hidden;
}
.groupDiv11,
.groupDiv8 {
  position: absolute;
  width: 422px;
}
.groupDiv8 {
  top: 3436px;
  left: calc(50% - 502px);
  height: 409px;
  font-size: 25px;
}
.groupDiv11 {
  top: 0;
  left: calc(50% - 211px);
  height: 299px;
}
.help1Icon {
  position: absolute;
  height: 27.95%;
  width: 27.49%;
  top: 72.05%;
  right: 38.39%;
  bottom: 0;
  left: 34.12%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.groupDiv10 {
  position: absolute;
  top: 3438px;
  left: calc(50% - -72px);
  width: 422px;
  height: 415px;
  font-size: 25px;
}
.companionReadyForAnything {
  position: absolute;
  top: 0;
  left: calc(50% - 282.5px);
  line-height: 35px;
  display: inline-block;
  width: 565px;
  height: 59px;
}
.optimusCanAccompanyYouThro {
  position: absolute;
  top: 89px;
  left: calc(50% - 139.5px);
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  display: inline-block;
  width: 395px;
}
.groupDiv13 {
  position: absolute;
  top: 0;
  left: calc(50% - 282.5px);
  width: 565px;
  height: 269px;
}
.help2Icon,
.thinking1Icon {
  position: absolute;
  height: 28.57%;
  width: 20.53%;
  top: 71.43%;
  right: 29.38%;
  bottom: 0;
  left: 50.09%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.thinking1Icon {
  height: 15.76%;
  width: 11.33%;
  top: 67.98%;
  right: 23.72%;
  bottom: 16.26%;
  left: 64.96%;
}
.groupDiv12 {
  position: absolute;
  top: 4736px;
  left: calc(50% - 658px);
  width: 565px;
  height: 406px;
  font-size: 25px;
}
.stayOneStepAhead {
  position: absolute;
  top: 0;
  left: calc(50% - 208.5px);
  line-height: 35px;
  display: inline-block;
  width: 417px;
  height: 59px;
}
.usingASmartAssistantLikeO {
  position: absolute;
  top: 89px;
  left: calc(50% - 199.5px);
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  display: inline-block;
  width: 395px;
}
.groupDiv14,
.groupDiv15 {
  position: absolute;
  top: 0;
  left: calc(50% - 208.5px);
  width: 417px;
  height: 299px;
}
.groupDiv14 {
  top: 4736px;
  left: calc(50% - -94px);
  font-size: 25px;
}
.kakao3Icon {
  position: absolute;
  top: 280px;
  left: 167px;
  width: 125px;
  height: 125px;
  overflow: hidden;
}
.groupDiv16 {
  position: absolute;
  top: 3883px;
  left: calc(50% - 502px);
  width: 422px;
  height: 405px;
  font-size: 25px;
}
.groupDiv19,
.wereAllAboutGivingYouMor {
  position: absolute;
  left: calc(50% - 211px);
}
.wereAllAboutGivingYouMor {
  top: 73px;
  font-size: 20px;
  line-height: 30px;
  color: #787878;
  display: inline-block;
  width: 395px;
}
.groupDiv19 {
  top: 0;
  width: 422px;
  height: 193px;
}
.kakao2Icon {
  position: absolute;
  top: 264px;
  left: 135px;
  width: 125px;
  height: 125px;
  overflow: hidden;
}
.groupDiv18,
.groupDiv21 {
  position: absolute;
  width: 422px;
}
.groupDiv18 {
  top: 3891px;
  left: calc(50% - -72px);
  height: 389px;
  font-size: 25px;
}
.groupDiv21 {
  top: 0;
  left: calc(50% - 211px);
  height: 179px;
}
.click1Icon {
  position: absolute;
  height: 33.43%;
  width: 27.25%;
  top: 66.57%;
  right: 39.81%;
  bottom: 0;
  left: 32.94%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.groupDiv20 {
  position: absolute;
  top: 4341px;
  left: calc(50% - -84px);
  width: 422px;
  height: 344px;
  font-size: 25px;
}
.task21 {
  position: absolute;
  top: 5770px;
  left: 210px;
  width: 123px;
  height: 123px;
  overflow: hidden;
}
.answer1Icon,
.hoursService1Icon,
.voice1Icon {
  position: absolute;
  top: 5771px;
  left: 507px;
  width: 121px;
  height: 121px;
  overflow: hidden;
}
.answer1Icon,
.hoursService1Icon {
  left: 809px;
}
.hoursService1Icon {
  top: 5758px;
  left: 1101px;
  width: 147px;
  height: 147px;
}
.rectangleDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #ffaf18;
  width: 127px;
  height: 68px;
}
.aIMLDiv {
  position: absolute;
  top: 10px;
  left: 7px;
  line-height: 50px;
  display: inline-block;
  width: 110px;
  height: 49px;
}
.groupDiv22 {
  position: absolute;
  top: 6249px;
  left: 1112px;
  width: 127px;
  height: 68px;
  color: #000;
  font-family: Jua;
}
.reservation1Icon {
  position: absolute;
  top: 6218px;
  left: 799px;
  width: 131px;
  height: 131px;
  overflow: hidden;
}
.onlineWriting1Icon,
.question1Icon {
  position: absolute;
  top: 6219px;
  left: 200px;
  width: 128px;
  height: 128px;
  overflow: hidden;
}
.onlineWriting1Icon {
  top: 6222px;
  left: 503px;
  width: 123px;
  height: 123px;
}
.optimusHasEyes,
.withTheHelpOfComputerVisi {
  position: absolute;
  top: 51px;
  left: calc(50% - 264.5px);
  line-height: 30px;
  display: inline-block;
  width: 395px;
}
.optimusHasEyes {
  top: 0;
  left: calc(50% - 263.5px);
  font-size: 25px;
  line-height: 20px;
  color: #1d2d3f;
  width: 528px;
  height: 20px;
}
.groupDiv23,
.groupDiv24,
.groupDiv25,
.groupDiv26,
.groupDiv27 {
  position: absolute;
  top: 6568px;
  left: calc(50% - 533px);
  width: 529px;
  height: 291px;
  text-align: left;
  color: #787878;
}
.groupDiv24,
.groupDiv25,
.groupDiv26,
.groupDiv27 {
  top: 6845px;
  left: calc(50% - -5px);
  height: 231px;
}
.groupDiv25,
.groupDiv26,
.groupDiv27 {
  top: 7123px;
  left: calc(50% - 533px);
}
.groupDiv26,
.groupDiv27 {
  top: 8257px;
}
.groupDiv27 {
  top: 7429px;
  left: calc(50% - -13px);
}
.ourIntelligentOptimusHasBe,
.stayHandsFreeB {
  position: absolute;
  top: 50px;
  left: calc(50% - 267px);
  line-height: 30px;
  display: inline-block;
  width: 395px;
}
.stayHandsFreeB {
  top: 0;
  left: calc(50% - 261px);
  font-size: 25px;
  line-height: 20px;
  color: #1d2d3f;
  width: 528px;
  height: 20px;
}
.groupDiv28 {
  position: absolute;
  top: 7949px;
  left: calc(50% - -6px);
  width: 534px;
  height: 260px;
  text-align: left;
  color: #787878;
}
.camera11 {
  position: absolute;
  top: 6578px;
  left: 833px;
  width: 201px;
  height: 210px;
  overflow: hidden;
}
.newsIcon,
.vectorIcon {
  position: absolute;
  top: 6594px;
  left: 742px;
  width: 222px;
  height: 125px;
}
.newsIcon {
  height: 2.78%;
  width: 15.99%;
  top: 79.3%;
  right: 25.19%;
  bottom: 17.91%;
  left: 58.82%;
  max-width: 100%;
  max-height: 100%;
}
.homeLove1Icon,
.voiceAssistantInTheMobileIcon {
  position: absolute;
  top: 7439px;
  left: 203px;
  width: 458px;
  height: 240px;
  overflow: hidden;
}
.voiceAssistantInTheMobileIcon {
  top: 7881px;
  left: 187px;
  width: 420px;
  height: 336px;
}
.groupDiv30 {
  position: absolute;
  top: 9px;
  left: calc(50% - 510.46px);
  width: 529px;
  height: 201px;
}
.timeManagementCopy1 {
  position: absolute;
  top: 0;
  left: 551px;
  width: 469.91px;
  height: 210px;
  overflow: hidden;
}
.groupDiv29 {
  position: absolute;
  top: 7686px;
  left: calc(50% - 533px);
  width: 1020.91px;
  height: 210px;
  text-align: left;
  color: #787878;
}
.responsiveDesign1Icon {
  position: absolute;
  height: 2.56%;
  width: 21.28%;
  top: 76.24%;
  right: 64.07%;
  bottom: 21.2%;
  left: 14.65%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.icon,
.nLP1Icon {
  position: absolute;
  top: 1839px;
  left: 362px;
  width: 716px;
  height: 371px;
  object-fit: cover;
}
.icon {
  top: 1244px;
  left: 397px;
  width: 559px;
  height: 325px;
}
.productTv11 {
  position: absolute;
  top: 149px;
  left: 807px;
  width: 633px;
  height: 651px;
}
.cONTACTDiv,
.pRICINGDiv {
  position: absolute;
  top: 0;
  left: 916px;
  line-height: 30px;
  display: inline-block;
}
.pRICINGDiv {
  left: 788px;
}
.tESTIMONIALSDiv {
  left: 607px;
}
.cOMPANYDiv,
.cOMPETITORSDiv,
.lOGOB,
.pRODUCTDiv,
.tESTIMONIALSDiv {
  position: absolute;
  top: 0;
  line-height: 30px;
  display: inline-block;
}
.cOMPETITORSDiv {
  left: 463px;
  cursor: pointer;
}
.cOMPANYDiv,
.lOGOB,
.pRODUCTDiv {
  left: 322px;
}
.cOMPANYDiv,
.lOGOB {
  left: 178px;
}
.lOGOB {
  top: 4px;
  left: 0;
  font-size: 22px;
  letter-spacing: -0.01em;
  line-height: 22px;
  font-family: Exo;
  color: #f6da46;
  cursor: pointer;
}
.navBarDiv {
  position: absolute;
  top: 36px;
  left: 135px;
  width: 993px;
  height: 30px;
  text-align: left;
  font-size: 16px;
  color: #353535;
}
.rectangleDiv4,
.rectangleDiv5 {
  position: absolute;
  left: 0;
  width: 1521px;
}
.rectangleDiv4 {
  top: 0;
  background-color: rgba(160, 164, 171, 0.1);
  height: 395px;
}
.rectangleDiv5 {
  top: 334px;
  background-color: #ebbb3c;
  border: 1px solid #ebbb3c;
  box-sizing: border-box;
  height: 63px;
}
.logoDiv {
  position: absolute;
  top: 49.49px;
  left: 165px;
  font-size: 32px;
  font-weight: 600;
  color: #468cf6;
  display: inline-block;
  width: 120px;
  height: 48.66px;
}
.copyright2022Div,
.needAnswersNeedHelpJust,
.transformingLivesOfPeopleA {
  position: absolute;
  top: 114.11px;
  left: 165px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.copyright2022Div,
.needAnswersNeedHelpJust {
  top: 100px;
  left: 1020px;
}
.copyright2022Div {
  top: 352px;
  left: 654px;
  font-weight: 600;
  color: #fff;
  width: 133px;
}
.companyDiv,
.competitorsDiv,
.contactDiv,
.pricingDiv,
.productDiv1 {
  position: absolute;
  top: 109px;
  left: 451px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.competitorsDiv,
.contactDiv,
.pricingDiv,
.productDiv1 {
  top: 152px;
}
.competitorsDiv,
.contactDiv,
.pricingDiv {
  top: 195px;
}
.contactDiv,
.pricingDiv {
  top: 238px;
}
.contactDiv {
  top: 281px;
}
.followUsDiv,
.linksDiv {
  top: 53px;
  font-size: 18px;
  font-weight: 600;
  color: #0e0e2c;
}
.linksDiv {
  position: absolute;
  left: 454px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.followUsDiv {
  left: 735px;
}
.fbcomaaaDiv,
.followUsDiv,
.getInTouchWithUs {
  position: absolute;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.getInTouchWithUs {
  top: 53px;
  left: 1020px;
  font-size: 18px;
  font-weight: 600;
  color: #0e0e2c;
}
.fbcomaaaDiv {
  top: 1px;
  left: 36px;
}
.featherfacebookIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.groupDiv31 {
  position: absolute;
  top: 108px;
  left: 735px;
  width: 291px;
  height: 28px;
}
.aaaDiv {
  position: absolute;
  top: 0;
  left: 36px;
  line-height: 171.5%;
  display: inline-block;
  width: 255px;
}
.groupDiv32,
.groupDiv33 {
  position: absolute;
  top: 152px;
  left: 735px;
  width: 291px;
  height: 28px;
}
.groupDiv33 {
  top: 196px;
}
.helperTextDiv {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.labelDiv {
  border-radius: 4px;
  width: 252px;
  display: none;
  flex-direction: row;
  padding: 2px 4px 2px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  color: #0e0e2c;
}
.feathersearchIcon,
.groupIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.feathersearchIcon {
  overflow: hidden;
}
.labelDiv1 {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
}
.featherplusIcon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameDiv {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.feathersendIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.inputeDiv {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #767676;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.helperTextDiv2 {
  position: relative;
  display: inline-block;
}
.helperTextDiv1 {
  border-radius: 4px;
  width: 252px;
  display: none;
  flex-direction: row;
  padding: 2px 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}
.xFormGroupDiv {
  position: absolute;
  top: 170px;
  left: 1020px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #b1b1b1;
}
.footerDiv {
  position: absolute;
  top: 8580px;
  left: 0;
  width: 1440px;
  height: 397px;
  text-align: left;
  font-size: 16px;
  color: rgba(14, 14, 44, 0.8);
  font-family: Poppins;
}
.productTv12 {
  position: absolute;
  top: 93px;
  left: 843px;
  width: 585px;
  height: 788px;
  object-fit: cover;
}
.growthLevel1Icon {
  position: absolute;
  top: 5057px;
  left: 957px;
  width: 85px;
  height: 85px;
  overflow: hidden;
}
.productDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 8977px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #1d2d3f;
  font-family: Inter;
}
